<a href="https://colab.research.google.com/github/20106107034/Data_Scince_ML/blob/main/Book_data_scrape.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np
import requests 
from bs4 import BeautifulSoup
from tqdm import tqdm


lin = 'https://books.toscrape.com/catalogue/page-'
#print(lin)

Book = []
Book_details =[]

for page in tqdm(range(1,51)):
    link = lin+str(page)+'.html'
    
    res  = requests.get(link)
    soup = BeautifulSoup(res.text,'html.parser')
    for sp in soup.find_all('article',class_='product_pod'):
        image    = 'https://books.toscrape.com'+sp.find('img').get('src')[2:]
        title    = sp.find('h3').find('a').get('title')
        Book_link= 'https://books.toscrape.com/catalogue/'+sp.find('h3').find('a').get('href')
        Rating   = sp.find('p').get('class')[1]
        price    = sp.find('p',class_='price_color').text[1:]
        stock    = sp.find('p',class_='instock availability').text.strip()
        
        
        #print(av_ty)
        #print(price)
        #print(Rating)
        #print(Book_link)
        #print(title)
        #print(image)
        res           = requests.get(Book_link)
        soup          = BeautifulSoup(res.text,'html.parser')
        quantity      = soup.find('p',class_='instock availability').text.strip()[10:-1]
        #print(stock_details)
        Book.append([title,image,Book_link,Rating,price,stock,quantity])
        table = soup.find('table',class_='table table-striped').find_all('td')
        UPC            = table[0].text
        Product_Type   = table[1].text
        Price_excl_tax = table[2].text[1:]
        Price_incl_tax = table[3].text[1:]
        Tax            = table[4].text[1:]
        Reviews        = table[6].text
        
        #print(UPC)
        #print(Product_Type)
        #print(Price_excl_tax)
        #print(Price_incl_tax)
        #print(Tax)
        #print(table)
        #print(Reviews)
        Book_details.append([UPC,Product_Type,Price_excl_tax,Price_incl_tax,Tax,Reviews])
        
        
    #print(link)

100%|██████████| 50/50 [05:03<00:00,  6.07s/it]

In [12]:
df2 = pd.DataFrame(Book_details,columns=['UPC','Product_Type','Price_excl_tax','Price_incl_tax','Tax','Reviews'])

In [13]:
df2.head(5)

                UPC Product_Type Price_excl_tax Price_incl_tax    Tax Reviews
0  a897fe39b1053632        Books         £51.77         £51.77  £0.00       0
1  90fa61229261140a        Books         £53.74         £53.74  £0.00       0
2  6957f44c3847a760        Books         £50.10         £50.10  £0.00       0
3  e00eb4fd7b871a48        Books         £47.82         £47.82  £0.00       0
4  4165285e1663650f        Books         £54.23         £54.23  £0.00       0

In [20]:
df2.shape

(1000, 6)

In [14]:
df = pd.DataFrame(Book,columns=['Heading','Cover_img','Book_link','Rating','Price','Stock','Quantity'])

In [15]:
df.head(5)

,Heading,Cover_img,Book_link,Rating,Price,Stock,Quantity
0,A Light in the Attic,https://books.toscrape.com/media/cache/2c/da/2...,https://books.toscrape.com/catalogue/a-light-i...,Three,£51.77,In stock,22 available
1,Tipping the Velvet,https://books.toscrape.com/media/cache/26/0c/2...,https://books.toscrape.com/catalogue/tipping-t...,One,£53.74,In stock,20 available
2,Soumission,https://books.toscrape.com/media/cache/3e/ef/3...,https://books.toscrape.com/catalogue/soumissio...,One,£50.10,In stock,20 available
3,Sharp Objects,https://books.toscrape.com/media/cache/32/51/3...,https://books.toscrape.com/catalogue/sharp-obj...,Four,£47.82,In stock,20 available
4,Sapiens: A Brief History of Humankind,https://books.toscrape.com/media/cache/be/a5/b...,https://books.toscrape.com/catalogue/sapiens-a...,Five,£54.23,In stock,20 available

In [19]:
df.shape

(1000, 7)

In [23]:
result = pd.concat([df,df2],axis=1,join='inner')

In [24]:
#del result['Price']

In [25]:
result

,Heading,Cover_img,Book_link,Rating,Price,Stock,Quantity,UPC,Product_Type,Price_excl_tax,Price_incl_tax,Tax,Reviews
0,A Light in the Attic,https://books.toscrape.com/media/cache/2c/da/2...,https://books.toscrape.com/catalogue/a-light-i...,Three,£51.77,In stock,22 available,a897fe39b1053632,Books,£51.77,£51.77,£0.00,0
1,Tipping the Velvet,https://books.toscrape.com/media/cache/26/0c/2...,https://books.toscrape.com/catalogue/tipping-t...,One,£53.74,In stock,20 available,90fa61229261140a,Books,£53.74,£53.74,£0.00,0
2,Soumission,https://books.toscrape.com/media/cache/3e/ef/3...,https://books.toscrape.com/catalogue/soumissio...,One,£50.10,In stock,20 available,6957f44c3847a760,Books,£50.10,£50.10,£0.00,0
3,Sharp Objects,https://books.toscrape.com/media/cache/32/51/3...,https://books.toscrape.com/catalogue/sharp-obj...,Four,£47.82,In stock,20 available,e00eb4fd7b871a48,Books,£47.82,£47.82,£0.00,0
4,Sapiens: A Brief History of Humankind,https://books.toscrape.com/media/cache/be/a5/b...,https://books.toscrape.com/catalogue/sapiens-a...,Five,£54.23,In stock,20 available,4165285e1663650f,Books,£54.23,£54.23,£0.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,https://books.toscrape.com/media/cache/96/ee/9...,https://books.toscrape.com/catalogue/alice-in-...,One,£55.53,In stock,1 available,cd2a2a70dd5d176d,Books,£55.53,£55.53,£0.00,0
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",https://books.toscrape.com/media/cache/09/7c/0...,https://books.toscrape.com/catalogue/ajin-demi...,Four,£57.06,In stock,1 available,bfd5e1701c862ac3,Books,£57.06,£57.06,£0.00,0
997,A Spy's Devotion (The Regency Spies of London #1),https://books.toscrape.com/media/cache/1b/5f/1...,https://books.toscrape.com/catalogue/a-spys-de...,Five,£16.97,In stock,1 available,19fec36a1dfb4c16,Books,£16.97,£16.97,£0.00,0
998,1st to Die (Women's Murder Club #1),https://books.toscrape.com/media/cache/2b/41/2...,https://books.toscrape.com/catalogue/1st-to-di...,One,£53.98,In stock,1 available,f684a82adc49f011,Books,£53.98,£53.98,£0.00,0
999,"1,000 Places to See Before You Die",https://books.toscrape.com/media/cache/d7/0f/d...,https://books.toscrape.com/catalogue/1000-plac...,Five,£26.08,In stock,1 available,228ba5e7577e1d49,Books,£26.08,£26.08,£0.00,0

In [26]:
result.to_csv('Book_scraped.csv',index=False)